*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
}

:root {
    --bg: rgb(28, 28, 28);
    --bg-card: rgb(14, 18, 24);
    --bg-popup: rgba(0, 0, 0, .8);
    --box-shadow: rgba(0, 0, 0, .4);
    --text: rgb(241, 241, 241);
    --img-profile: rgb(130, 87, 229);
    --buttons: rgb(255, 255, 255);
    --border-button: rgb(26, 26, 26);

    /* colors */
    --purple: rgb(72, 61, 139);
    --purple-dark: rgb(60, 11, 97);
    --blue: rgb(62, 74, 167);
    --blue-dark: rgb(39, 55, 168);
    --pink: rgb(188, 143, 143);
    --pink-dark: rgb(125, 88, 126);
    --green:rgb(85, 107, 47);
    --green-dark: rgb(61, 98, 58);
    --white: var(--text);
    --black: rgb(0, 0, 0);
}


body{
    background-color: var(--bg);
    color: var(--text);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-card{
    padding: 20px;
    height: 550px;
    width: 900px;
}

.card-user{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 580px;
    border-radius: 50px;
    background-color: var(--bg-card);
    box-shadow: .5rem .5rem .5rem .2rem var(--box-shadow);
}

.icon-rocketseat{
    padding: 20px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.logo{
    height: 1.5rem;
    border: solid .1rem var(--text);
    border-radius: 50%;
    padding: .3rem .4rem;
}

.logo-text{
    margin-left: 10px;
}

.user{
    overflow: hidden;
    margin: 50px 0px;
}

.user-img{
    position: relative;
    left: 4.5rem;
    width: 270px;
    border-radius: 50%;
    border: 6px solid var(--purple-dark);
}

.infos-user{
    height: 125px;
    padding: 10px;
    width: 150px;
    top: 440px;
    left: 340px;
    position: absolute;
    border-radius: 20px;
    background-color: rgb(72, 61, 139, 0.5)

}

.infos {
    margin-top: 6px;
    display: flex;
}

.infos img{
    margin-right: 6px;
}

.infos p{
    font-size: 15px;
}

input{
    outline: none;
    height: 30px;
    border: none;
    color: white;
    background-color: var(--bg-card)
}

.btn{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-card{
    background-color: var(--purple);
    border: none;
    border-radius: 20px;
    font-size: 15px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: white;
}

