*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
}

:root {
    --bg: #27282e;
    --bg-card: #0e1218;
    --bg-popup: #000000cc;
    --box-shadow: #00000066;
    --text: #f1f1f1;
    --img-profile: #8257e5;
    --buttons: #ffffff;
    --border-button: #1a1a1a;

    /* colors */
    --purple: #483d8b;
    --purple-dark: #3c0b61;
    --blue: #3e4aa7;
    --blue-dark: #2737a8;
    --pink: #bc8f8f;
    --pink-dark: #7d587e;
    --green:#556b2f;
    --green-dark: #3d623a;
    --white: var(--text);
    --black: #000000;
}


body{
    background-color: var(--bg);
    color: var(--text);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-user{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 590px;
    border-radius: 50px;
    background-color: var(--bg-card);
    box-shadow: .5rem .5rem .5rem .2rem var(--box-shadow);
}

.icon-rocketseat{
    padding: 20px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.logo{
    height: 1.5rem;
    border: solid .1rem var(--text);
    border-radius: 50%;
    padding: .3rem .4rem;
}

.logo-text{
    margin-left: 10px;
}

.user{
    overflow: hidden;
    height: 600px;
    margin: 30px 0px;
}

.user-img{
    position: relative;
    left: 4.5rem;
    width: 270px;
    border-radius: 50%;
    border: 6px solid var(--purple-dark);
}

.infos-user{
    height: 125px;
    padding: 10px;
    width: 150px;
    bottom: 85px;
    left: 25px;
    position: relative;
    border-radius: 20px;
    background-color: rgb(72, 61, 139, 0.5)
}

.infos {
    margin-top: 6px;
    display: flex;
}

.infos img{
    margin-right: 6px;
}

.infos p{
    font-size: 15px;
}

input{
    outline: none;
    height: 30px;
    border: none;
    color: white;
    background-color: var(--bg-card)
}

::placeholder{
    font-size: 15px;
}

.btn{
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-card{
    background-color: var(--purple);
    border: none;
    border-radius: 20px;
    font-size: 15px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: white;
}

.logo.white {
    border: solid .1rem var(--purple-dark);
}

input.white{
    color: #0e1218;
}

body.white{
    background-color: #483d8b;
}

.infos-user.active{
    height: 140px;
}